<!DOCTYPE html>

<html lang="en">

<body background="http://blog.hostbaby.com/wp-content/uploads/2014/03/PaintSwatches_1920x1234.jpg">



<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">



<style>

.button {

  display: inline-block;

  border-radius: 4px;

  background-color: #4682b4;

  border: none;

  color: #FFFFFF;

  text-align: center;

  font-size: 15px;

  padding: 10px;

  width: 150px;

  transition: all 0.5s;

  cursor: pointer;

  margin: 5px;

}



.button span {

  cursor: pointer;

  display: inline-block;

  position: relative;

  transition: 0.5s;

}



.button span:after {

  content: '\00bb';

  position: absolute;

  opacity: 0;

  top: 0;

  right: -20px;

  transition: 0.5s;

}



.button:hover span {

  padding-right: 25px;

}



.button:hover span:after {

  opacity: 1;

  right: 0;

}



.borderexample

{ color : #FFFFFF;

  padding: 10px;

  width: 230px;

border-style:solid;

background-color: #4682b4;

border-color:#287EC7;

}



</style>



        <!-- Latest compiled and minified CSS -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

        

        <!-- Latest compiled and minified JavaScript -->

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <title>Mawa3eedak</title>

</head>

<img src="http://www.cairogossip.com/wp-content/uploads/2012/10/GUCLogo.png" alt="GUC Logo"  align="right" width="250" height="100">



<body>

<div align="center">

<font size="50">   <p style="color:white;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Mawa3eedak</p> </font> 





 <div class="container">

            <form>

                 

                <label for="username" style="color:white;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Username</label>

                <div class="form-group">

<input type="text" class="cos-xs-3" align="center" id="username" placeholder="Username" >

                </div>

                <br />

                 <label for="password" style="color:white;" >Password</label>

                   <div class="form-group">

 <input type="password" class="cos-xs-3"align="center" id="password" placeholder="Password" >

                </div>

                <button type="button" class="btn btn-primary center-block" onclick="auth2()">Login</button>

            </form>

            <div id="token-display">

            </div>

        </div>

<br />

<br />
</body>
</body>
</html>
